<!-- <div class="page-header">
  
  <div class="row">
    <div class="col-sm-6">
        <h2>Sample</h2>
        <chart #chart1 [type]="typeChart" [data]="dataChart" [options]="optionsChart" (click)="clickData()"></chart>
      <canvas #chart2></canvas>
    </div>
    <div class="col-sm-6">
        <h2>Option</h2>    
        <div class="row">
          <div class="col-sm-6">scales.xAxes.scaleLabel.labelSstring</div>
          <div class="col-sm-6"> 
           <input [(ngModel)]="optionsChart.scales.xAxes[0].scaleLabel.labelString" (ngModelChange)="OnChangeChartOption()">
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">scales.yAxes[0].ticks.suggestedMax</div>
            <div class="col-sm-6"> 
              <input [(ngModel)]="optionsChart.scales.yAxes[0].ticks.suggestedMax" (ngModelChange)="OnChangeChartOption()">
              <input [(ngModel)]="optionSuggestedMax" (ngModelChange)="OnChangeChartOption()">
            </div>
          </div>
          <div class="row">
              <div class="col-sm-6">dataChart.datasets[0].data[0]</div>
              <div class="col-sm-6"> 
                <input [(ngModel)]="dataChart.datasets[0].data[1]" (ngModelChange)="OnChangeChartOption()">
                <input [(ngModel)]="dataArray[1]" (ngModelChange)="OnChangeChartOption()">
              {{dataChart.datasets[0].data[1]}}
              </div>
            </div>
    </div>
  </div>
</div> -->